<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <style>
        body{
            font-family: sans-serif;
        }
        .error-password-reset {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            width: fit-content;
            height: fit-content;

            margin: auto;

            padding: 10px;

        }
        
        .error-password-reset a {
            color: rgb(81, 172, 247);
            
            font-weight: bold;
        }

        #bar{
            width: auto;
            height: 50px;
            background-color: rgb(81, 172, 247);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            font-family: sans-serif;
            font-weight: 700;
        }

    </style>
</head>
<body>
    <div id="bar">
        Vendas
    </div>
    <div class="error-password-reset">
        
        <h2>Erro ao modificar senha!</h2>
        <a href="https://projetovendaprodutos.onrender.com/">Home</a>
    </div>
</body>
</html>